@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  --color-dark-cyan: hsl(180, 29%, 50%);
  --color-primary-cyan: hsl(180, 52%, 96%);
  --color-secondary-cyan: hsl(180, 31%, 95%);
  --color-grayish-cyan: hsl(180, 8%, 52%);
  --color-dark--grayish-cyan: hsl(180, 14%, 20%);
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  line-height: 1.6;
  font-family: "League Spartan", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: unset;
  margin: unset;
  display: flex;
  align-items: center;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

#app {
  min-height: 100%;
  margin: 0 auto;
  font-weight: normal;
}
