@use "../base/" as *;

.content {
  background-color: var(--color-primary-cyan);
  padding: 32px;

  .jobsCard {
    padding: 16px;
    min-height: 150px;
    max-width: 80%;
    background-color: white;
    margin: 32px auto;
    border-radius: 10px;
    border-left: 5px solid var(--color-dark-cyan);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);

    &__des {
      margin-left: 16px;

      .title {
        color: var(--color-dark-cyan);
        font-size: 1.4rem;
        display: flex;
        gap: 10px;

        .new {
          display: inline-block;
          height: 20px;
          width: 40px;
          text-align: center;
          border-radius: 10px;
          background-color: var(--color-dark-cyan);
          color: white;
          font-size: 1.2rem;
          padding-top: 2px;
        }

        .feature {
          display: inline-block;
          height: 20px;
          width: 80px;
          text-align: center;
          border-radius: 10px;
          background-color: black;
          color: white;
          font-size: 1.2rem;
          padding-top: 2px;
          text-transform: uppercase;
        }
      }

      .position {
        font-weight: 700;
      }

      .list {
        li {
          margin: 0px 16px;
          font-size: 1.4rem;
          color: var(--color-grayish-cyan);
          &:not(:first-child) {
            list-style-type: disc;
          }
          &:first-child {
            margin-left: unset;
          }
        }
      }
    }

    &__tools {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      li {
        margin: 0px 16px;
        height: 20px;
        width: fit-content;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        background-color: var(--color-dark-cyan);
        color: white;
        border-radius: 5px;
        font-size: 1.4rem;
      }
    }
  }
}
