@use "../base/" as *;

.header {
  min-height: 200px;
  background-image: url("../images/bg-header-desktop.svg");
  background-color: var(--color-dark-cyan);
  background: {
    repeat: no-repeat;
    size: 100% 100%;
  }
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  &__autocomplete {
    height: 70px;
    background-color: white;
    width: 77%;
    border-radius: 10px;
    position: absolute;
    bottom: -30px;
    margin: auto;
    border: none;
    outline: none;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    padding: 16px;

    &--filters {
      display: flex;
      align-items: center;
      margin-right: 16px;

      .keyword {
        padding: 0px 10px;
        display: inline-block;
        background-color: var(--color-secondary-cyan);
        flex: 80%;
        color: var(--color-dark-cyan);
        border-radius: 5px 0px 0px 5px;
        font-size: 1.6rem;
      }

      .icon {
        display: grid;
        place-content: center;
        flex: 20%;
        min-width: 25px;
        height: 26px;
        background-color: var(--color-dark-cyan);
        border-radius: 0px 5px 5px 0px;

        &:hover {
          background-color: var(--color-dark--grayish-cyan);
        }
      }
    }
    .input {
      border: none;
      outline: none;
      margin: auto 0px;
    }
  }
}
